.maindiv {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.text {
  font-size: 14px;
  color: #8a8a89;
}
.btn {
  padding: 16px 162px 16px 18px;
  border-radius: 14px;
  background-color: #54be96;
  color: #fbfbfb;
  border: none;
  cursor: pointer;
}
.icon {
  position: absolute;
  top: 40px;
  right: 16px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #fbfbfb;
  cursor: pointer;
}
.list {
  width: 100%;
  background-color: #fff;
  padding: 14px 18px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  z-index: 99;
  top: 84px;
}
.item {
  font-weight: 400;
  color: rgba(25, 26, 21, 0.3);
}
.item:hover,
.item:focus {
  color: #191a15;
}
.active {
  color: #191a15;
}
