.div {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 128px;
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}
.text {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 1.28;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
