.navdiv {
  padding: 24px 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}
.bc {
  background-color: #f4f4f4;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.logospan {
  color: #54be96;
}
.nav {
  display: flex;
  gap: 40px;
}
.link {
  position: relative;
  color: #191a15;
  font-size: 16px;
  text-decoration: none;
}
.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #54be96;
  border-radius: 50%;
}
.btnlist {
  display: flex;
  gap: 8px;
}
.btn {
  padding: 14px 39px;
  border-radius: 30px;
  cursor: pointer;
}
.btnlog {
  background-color: inherit;
  border: 1px solid rgba(25, 26, 21, 0.2);
}
.btnreg {
  border: none;
  background-color: #54be96;
  color: #fbfbfb;
}
.btnreg:hover,
.btnreg:focus {
  background-color: #36a379;
}
.loggeddiv {
  display: flex;
  gap: 28px;
}
.namediv {
  display: flex;
  gap: 14px;
  align-items: center;
}
.userdiv {
  background-color: #54be96;
  border-radius: 12px;
  padding: 8px 8px 4px 8px;
}
.usericon {
  width: 24px;
  height: 24px;
  fill: #fbfbfb;
}
.name {
  font-weight: 500;
}
